<h1>Hello, Rails!</h1>

<h2>Page to list all users</h2>
<a href="http://radiant-peak-1014.herokuapp.com/users">http://radiant-peak-1014.herokuapp.com/users</a>

<h2>Page to show user with id 1<h2>
<a href="http://radiant-peak-1014.herokuapp.com/users/1">http://radiant-peak-1014.herokuapp.com/users/1</a>

<h2>Page to make a new user<h2>
<a href="http://radiant-peak-1014.herokuapp.com/users/new">http://radiant-peak-1014.herokuapp.com/users/new</a>

<h2>Page to edit user with id 1<h2>
<a href="http://radiant-peak-1014.herokuapp.com/users/1/edit">http://radiant-peak-1014.herokuapp.com/users/1/edit</a>

<h2>Page to see all microposts<h2>
<a href="http://radiant-peak-1014.herokuapp.com/microposts">http://radiant-peak-1014.herokuapp.com/microposts</a>

<h2>Page to write a new micropost<h2>
<a href="http://radiant-peak-1014.herokuapp.com/microposts/new">http://radiant-peak-1014.herokuapp.com/microposts/new</a>

